@model IEnumerable<PRACTICA__.Models.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CUSTOMER_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WEBSITE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREDIT_LIMIT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CUSTOMER_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WEBSITE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREDIT_LIMIT)
            </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CUSTOMER_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CUSTOMER_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CUSTOMER_ID })
                </td>

        </tr>
}
    </tbody>
</table>
